<div class="pianoroll">
  
  <ul class="notes">
    {{#notes}}
      <li class="note" data-key="{{key}}" data-octave="{{octave}}">{{key}}{{octave}}</li>
    {{/notes}}
  </ul>

  <ul class="steps">
    {{#bars}}
      <li class="bar">
        <ul>
          {{#../steps_per_bar}}
            <li class="step">
              <ul>
                {{#../../notes}}
                  <li class="note" data-bar="{{../../.}}" data-step="{{../.}}" data-key="{{key}}" data-octave="{{octave}}">{{key}}{{octave}}</li>
                {{/../../notes}}
              </ul>
            </li>
          {{/../steps_per_bar}}
        </ul>
      </li>
    {{/bars}}
  </ul>

</div>